<div class="login-container">
  <div class="login-frame">
    <div class="login-nav">
      <ul class="login-links">
        <li class="login-signin-active"><a href="#login" class="login-btn">Войти</a></li>
        <li class="login-signup-inactive"><a href="#register" class="login-btn">Регистрация</a></li>
      </ul>
    </div>
    <div ng-app ng-init="checked = false">
			<form class="login-form-signin" action="/auth/login" method="post" name="form">
                <label class="login-label" for="email">Email</label>
                <input class="login-form-styling" type="text" name="email" placeholder="" required />
                <label class="login-label" for="password">Пароль</label>
                <input class="login-form-styling" type="password" name="password" placeholder="" required />
                <input type="hidden" name="_csrf" value="{{csrf}}">
                <button class="login-btn-animate">
                    <a class="login-btn-signin">Войти</a>
                </button>
                
			</form>
        
			<form class="login-form-signup" action="/auth/register" method="post" name="form">
                <label class="login-label" for="name">Имя</label>
                <input class="login-form-styling" type="text" name="name" placeholder="" required />
                <label class="login-label" for="email">Email</label>
                <input class="login-form-styling" type="text" name="email" placeholder="" required />
                <label class="login-label" for="password">Пароль</label>
                <input class="login-form-styling" type="password" name="password" placeholder="" required />
                <label class="login-label" for="confirmpassword">Подтвердите пароль</label>
                <input class="login-form-styling" type="password" name="confirmpassword" placeholder="" required />
                <input type="hidden" name="_csrf" value="{{csrf}}">
                <button class="login-btn-animate">
                    <a class="login-btn-signin">Зарегистрироваться</a>
                </button>
			</form>
      
            <div  class="login-success">
              <svg width="270" height="270" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
       viewBox="0 0 60 60" id="check" ng-class="checked ? 'checked' : ''">
                 <path fill="#ffffff" d="M40.61,23.03L26.67,36.97L13.495,23.788c-1.146-1.147-1.359-2.936-0.504-4.314
                  c3.894-6.28,11.169-10.243,19.283-9.348c9.258,1.021,16.694,8.542,17.622,17.81c1.232,12.295-8.683,22.607-20.849,22.042
                  c-9.9-0.46-18.128-8.344-18.972-18.218c-0.292-3.416,0.276-6.673,1.51-9.578" />
                <div class="login-successtext">
                   <p> Thanks for signing up! Check your email for confirmation.</p>
                </div>
             </div>
      </div>
      
      <div class="login-forgot">
        <a href="#">Forgot your password?</a>
      </div>
      
  </div>
</div>